.destinations {
  margin-bottom: 88px;
}

.destinations .item header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
}

.destinations-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.destinations-items .item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 312px;
}

.img-item {
  height: 360px;
  width: 312px;
  margin-bottom: 24px;
}

.img-item.tokyo {
  background: url(../img/Tokyo-mobile.jpg) no-repeat;
  background-size: cover;
}

.img-item.osaka {
  background: url(../img/Osaka-mobile.jpg) no-repeat;
  background-size: cover;
}

.destinations-items p {
  font-size: 20px;
  font-weight: var(--text-weight);
  padding: 0;
  color: var(--text-primary-color);
}

.destinations-items footer .button {
  text-align: center;
  width: 312px;
  font-weight: var(--title-weight);
}

@media (min-width: 768px) {
  .destinations-items .item {
    width: 648px;
    align-items: flex-start;
  }

  .img-item {
    height: 452px;
    width: 648px;
  }

  .destinations-items footer .button {
    width: 280px;
  }

  .img-item.tokyo {
    background: url(../img/Tokyo.jpg) no-repeat;
    background-size: cover;
  }

  .img-item.osaka {
    background: url(../img/Osaka.jpg) no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .destinations-items {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .destinations-items .item {
    width: 450px;
    height: auto;
  }

  .destinations-items .img-item {
    height: 314px;
    width: 450px;
  }
}

@media (min-width: 1440px) {
  .destinations-items {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .destinations-items .item {
    width: 588px;
    height: 750px;
  }

  .destinations-items .img-item {
    height: 452px;
    width: 588px;
  }
}
