.text-content p {
  font-size: 20px;
  line-height: 32px;
  color: var(--text-primary-color);
  margin-top: 24px;
}

.text-content h3 {
  color: var(--text-primary-color);
  font-size: 40px;
  font-weight: var(--title-weight);
}

.payments .image-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.payments .image-gallery .image.first {
  background: url(../img/gallery1.png);
  background-size: cover;
}

.payments .image-gallery .image.first.destinations-img {
  background: url(../img/destinations-gallery1-mobile.png);
  background-size: cover;
}

.payments .image-gallery .image.second {
  background: url(../img/gallery2.png);
  background-size: cover;
}

.payments .image-gallery .image.second.destinations-img {
  background: url(../img/destinatinations-gallery2-mobile.png);
  background-size: cover;
}

.payments .image-gallery .image.thirdy {
  background: url(../img/gallery3.png);
  background-size: cover;
  grid-column: span 2;
}

.payments .image-gallery .image.thirdy.destinations-img {
  background: url(../img/destinations-gallery3-mobile.png);
  background-size: cover;
  grid-column: span 2;
}

@media (min-width: 768px) {
  .payments .image-gallery .image.first {
    background: url(../img/gallery1-tablet.png);
    background-size: cover;
  }

  .payments .image-gallery .image.first.image.first.destinations-img {
    background: url(../img/destinations-gallery1-desktop.png);
    background-size: cover;
  }

  .payments .image-gallery .image.second {
    background: url(../img/gallery2-tablet.png);
    background-size: cover;
  }

  .payments .image-gallery .image.second.image.second.destinations-img {
    background: url(../img/destinations-gallery2-desktop.png);
    background-size: cover;
  }

  .payments .image-gallery .image.thirdy {
    background: url(../img/gallery3-tablet.png);
    background-size: cover;
  }

  .payments .image-gallery .image.thirdy.image.first.destinations-img {
    background: url(../img/destinations-gallery3-desktop.png);
    background-size: cover;
  }
}

@media (min-width: 1440px) {
  .payments .gallery-content {
    display: flex;
    justify-content: space-between;
  }

  .payments .gallery-content.destinations-imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .payments .image-gallery {
    width: 790px;
    margin: 0;
  }

  .payments .gallery-content .text-content {
    width: 360px;
  }
}
