.search-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 88px;
}

.search-card {
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 41px 16px;

  width: 312px;
  height: 220px;
  text-align: center;

  box-sizing: border-box;
  text-decoration: none;
  border-radius: 16px;
}

@media (min-width: 768px) {
  .category-search {
    width: 100%;
  }

  .search-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .search-card {
    width: 360px;
  }
}

@media (min-width: 1024px) {
  .search-card {
    width: 480px;
    cursor: pointer;
  }
}

@media (min-width: 1440px) {
  .search-card {
    width: 281px;
    height: 220px;
    padding: 24px 16px;
  }
}
